#table_block {
  width: 900px;
  margin: 20px auto;
}
#userSub_block {
  display: flex;
  flex-direction: column;
}
#userSub_block_description {
  display: flex;
  flex-direction: column;
}
#table_alt_block {
  text-align: center;
  margin-top: 100px;
}
